.popup__form {
  width: 100%;
  max-width: 430px;
  min-height: 330px;
  margin: 195px auto 0;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 320px) {
  .popup__form {
    max-width: 282px;
    min-height: 322px;
  }
  
}