.profile__add-button {
  padding: 0;
  width: 150px;
  height: 50px;
  background-image: url(../../../images/profile_add_button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  border: 1px solid #ffffff;
  margin-left: auto;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 650px) {
  .profile__add-button {
    width: 282px;
    margin: 36px auto 0;
  }
  
}
